# Python cache and build artifacts
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Editors
.idea/
.DS_Store

# Data pre processing
data_module/ColoRadar/Coloradar_pre_processing/
demo.py
demo2.py

checkpoints/
checkpoints/flow/lightning_logs/version_0/hparams.yaml

result.gif
sample.py
scripts/prepare_ccradar_seq.py
train_ddpm.py

data_module/ColoRadar/range_image_process/
sample_ddpm.py
.gitignore
samples/
demo/